[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/chriseppstein/vim-haml
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "bundle/liquid"]
	path = bundle/liquid
	url = https://github.com/tpope/vim-liquid
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-backbone"]
	path = bundle/vim-backbone
	url = git@github.com:mklabs/vim-backbone.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = git@github.com:beyondwords/vim-twig.git
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = git@github.com:spf13/PIV.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "bundle/sessionman.vim"]
	path = bundle/sessionman.vim
	url = git@github.com:vim-scripts/sessionman.vim.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "bundle/numbers.vim"]
	path = bundle/numbers.vim
	url = git@github.com:myusuf3/numbers.vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = git@github.com:briancollins/vim-jst.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "bundle/vim-cucumber-align-pipes"]
	path = bundle/vim-cucumber-align-pipes
	url = git@github.com:quentindecock/vim-cucumber-align-pipes.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git@github.com:Shougo/neocomplcache.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = git@github.com:Shougo/neosnippet.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git@github.com:honza/snipmate-snippets.git
